.red-div {
  background-color: red;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.green-div {
  background-color: green;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: inline-block;
}

.service-form {
  border-style: solid;
  border-color: gray;
  width: 270px;
  height: 90px;
  padding-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.youtube-music-install {
  background-color: rgb(33, 32, 34);
  width: 330px;
  padding: 3px 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.youtube-title {
  color: white;
  font-size: x-large;
  margin-bottom: 0px;
  font-weight: bold;
}

.youtube-subtitle {
  color: rgb(119, 118, 119);
  margin-top: 10px;
}

.friends-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 15px;
}

.friend-box {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.3),
    -2px -2px 5px rgba(100, 100, 100, 0.3);
}

.friend-photo {
  width: 100%;
}

.friend-name {
  font-weight: bold;
  margin: 5px 5px;
  font-size: small;
}

.mutural-friends-row {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.mutural-friends-count {
  color: grey;
  font-size: x-small;
}

.add-friend-button {
  background-color: rgb(21, 118, 236);
  border: none;
  padding: 8px 14px;
  font-size: x-small;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin: 5px 5px;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin: 0px 0px 0px 5px;
}
